/*--
Author: W3layouts
Author URL: http://w3layouts.com
License: Creative Commons Attribution 3.0 Unported
License URL: http://creativecommons.org/licenses/by/3.0/
--*/
/* reset */
html,body,div,span,applet,object,iframe,h1,h2,h3,h4,h5,h6,p,blockquote,pre,a,abbr,acronym,address,big,cite,code,del,dfn,em,img,ins,kbd,q,s,samp,small,strike,strong,sub,sup,tt,var,b,u,i,dl,dt,dd,ol,nav ul,nav li,fieldset,form,label,legend,table,caption,tbody,tfoot,thead,tr,th,td,article,aside,canvas,details,embed,figure,figcaption,footer,header,hgroup,menu,nav,output,ruby,section,summary,time,mark,audio,video{margin:0;padding:0;border:0;font-size:100%;font:inherit;vertical-align:baseline;}
article, aside, details, figcaption, figure,footer, header, hgroup, menu, nav, section {display: block;}
ol,ul{list-style:none;margin:0px;padding:0px;}
blockquote,q{quotes:none;}
blockquote:before,blockquote:after,q:before,q:after{content:'';content:none;}
table{border-collapse:collapse;border-spacing:0;}
/* start editing from here */
a{text-decoration:none;}
.txt-rt{text-align:right;}/* text align right */
.txt-lt{text-align:left;}/* text align left */
.txt-center{text-align:center;}/* text align center */
.float-rt{float:right;}/* float right */
.float-lt{float:left;}/* float left */
.clear{clear:both;}/* clear float */
.pos-relative{position:relative;}/* Position Relative */
.pos-absolute{position:absolute;}/* Position Absolute */
.vertical-base{	vertical-align:baseline;}/* vertical align baseline */
.vertical-top{	vertical-align:top;}/* vertical align top */
nav.vertical ul li{	display:block;}/* vertical menu */
nav.horizontal ul li{	display: inline-block;}/* horizontal menu */
img{max-width:100%;}
/*end reset*/
body{
    font-family: 'PT Sans Narrow', sans-serif;
    /*background: url(../images/banner1.jpg   ) no-repeat;*/
    /*background: url("/images/banner1.jpg"  ) no-repeat;*/
    background-size: cover;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -ms-background-size: cover;
    -o-background-size: cover;

}
.main {
    margin:8em 0 5em;
}
::-webkit-input-placeholder{
    color:#555 !important;
    font-size:1em !important;
}
.login {
    width: 20%;
    margin: 0 auto;
    background:#fff;
    padding: 3em;
    position: relative;
    border-radius: 5px;
}
.login h1 {
    text-align: center;
    font-size: 2em;
    margin: 1em 0;
    color: #555;
    font-family: 'PT Sans Narrow', sans-serif;
}
.login-top {
    background: #127DA7;
    position: absolute;
    width: 7%;
    top: -42px;
    left: 162px;
    padding: 1.7em 1.7em;
    border-radius: 50px;
    text-align: center;
}
.login-bottom input[type="text"] {
    font-size: 1.2em;
    width: 90%;
    padding: .6em .8em;
    outline: none;
    background: #eaeaea;
    border: none;
    border-radius: 5px;
    text-align: center;
    font-family: 'PT Sans Narrow', sans-serif
}
.login-bottom input[type="password"] {
    font-size: 1.2em;
    width: 88%;
    padding: .6em 1em;
    outline: none;
    background: #eaeaea;
    border: none;
    border-radius: 5px;
    text-align: center;
    font-family: 'PT Sans Narrow', sans-serif
}
.login-bottom input[type="submit"] {
    font-size: 1.5em;
    padding: .3em .3em;
    width: 45%;
    border: none;
    text-transform: capitalize;
    outline: none;
    border-radius: 5px;
    background: #127DA7;
    color: #fff;
    cursor: pointer;
    font-family: 'PT Sans Narrow', sans-serif;
    margin: 0 auto;
    display: block;
}
.password {
    margin: 1.5em 0;
}
.login-bottom p {
    font-size: 1em;
    text-align: center;
    margin-top: 2em;
    color: #555;
}
.login-bottom  a {
    text-decoration:none;
}
.login-bottom a p:hover {
    color: #127DA7;
}
.footer {
    text-align: center;
    padding: 3em 0;
}
.footer p {
    font-size: .9em;
    color: #fff;
    margin: 0px;
}
.footer p a:hover {
    color: #fff;
}
.footer p a {
    color: #fff;
}

/*responsive*/
@media(max-width:1440px){
    .login-top {
        left: 149px;
    }
}
@media(max-width:1366px){
    .login-top {
        left: 145px;
        width: 8%;
    }
}
@media(max-width:1280px){
    .login-top {
        left: 136px;
        width: 9%;
        padding: 1.5em 1.5em;
    }
}
@media(max-width:1080px){
    .login {
        width: 25%;
    }
    .login-top {
        left: 136px;
        width: 8%;
    }
    .login h1 {
        font-size: 1.8em;
    }
    .login-bottom p {
        font-size: .95em;
    }
}
@media (max-width: 991px){
    .login {
        width: 34%;
    }
    .login-bottom input[type="text"] {
        width: 88%;
        font-size: .95em;
    }
    .login-bottom input[type="password"] {
        width: 87%;
        font-size: .95em;
    }
    .login-bottom input[type="submit"] {
        font-size: 1.4em;
    }
    .main {
        margin: 9em 0 5em;
    }
}
@media (max-width: 640px){
    .login {
        width: 39%;
    }
    .login-bottom input[type="text"] {
        width: 90%;
        font-size: .95em;
    }
    .login-bottom input[type="password"] {
        width: 89%;
        font-size: .95em;
    }
    .login-bottom input[type="submit"] {
        font-size: 1.2em;
        width: 40%;
    }
}
@media (max-width: 480px){
    .login {
        width: 50%;
        padding: 2.5em;
    }
    .login-top {
        left: 126px;
        padding: 1.5em;
    }
    .login-bottom input[type="submit"] {
        font-size: 1.3em;
        padding: .2em .2em;
    }
    .login-bottom p {
        font-size: .85em;
    }
    .login-bottom input[type="text"] {
        width: 91%;
    }
}
@media (max-width: 320px){
    .login {
        width: 70%;
        padding: 1.5em;
    }
    .login-top {
        left: 92px;
        padding: 1.5em;
    }
    .main {
        margin: 6em 0 3em;
    }
    .footer {
        text-align: center;
        padding: 1em 0;
    }
    .login-bottom p {
        font-size: .8em;
    }
}