::selection {
  background-color: #ED2939;
  color: white;
}

.text-primary {
  color: #ED2939 !important;
}

.text-custom {
  color: #ED2939 !important;
}

.navbar-default {
  background-color: #ED2939 !important;
  height: 60px !important;
}

.side-menu {
  background-color: #37393b !important;
}

#sidebar-menu > ul > li > a.active {
  background-color: #272931 !important;
  border-left: 3px solid #ED2939;
}

#wrapper.enlarged .left.side-menu #sidebar-menu ul > li:hover > a {
  background: #272931 !important;
  border-left: 3px solid #ED2939;
}

#wrapper.enlarged .left.side-menu #sidebar-menu > ul > li > a:active {
  background: #ED2939 !important;
}

#wrapper.enlarged .left.side-menu #sidebar-menu ul > li:hover > ul a {
  background: white !important;
  border-left: none;
}

#wrapper.enlarged .left.side-menu #sidebar-menu > ul > li > a:focus {
  background: #37393b;
}

.dropdown-menu > li > a:focus,
.dropdown-menu > li > a:hover {
  background: #ED2939 !important;
}

#sidebar-menu .subdrop {
  border-left: solid 3px #ED2939;
}

.topbar .topbar-left {
  background: #f8f8f8 !important;
}

.btn-custom {
  background: #ED2939 !important;
  border-color: #ED2939 !important;
}

.btn-bordred.btn-custom {
  border-bottom: solid 2px #b40019 !important;
}

#sidebar-menu .waves-effect .waves-ripple {
  background-color: rgba(252, 2, 0, 0.7) !important;
}

#wrapper.enlarged .left.side-menu #sidebar-menu ul ul a:hover {
  color: #ED2939 !important;
}

.nav-pills-custom li a,
.nav-pills-custom li.active a {
  color: #ED2939 !important;
}

.logo {
  text-transform: none;
}

.logosvg {
  width: 75% !important;
}

#wrapper.forced .logosvg {
  opacity: 1;
}

#wrapper.forced.forced.enlarged .logosvg {
  opacity: 0;
}

.isosvg {
  display: none;
}

#wrapper.forced.forced.enlarged .isosvg {
  display: block;
  position: absolute;
  top: 12px;
  left: 18px;
  width: 45%;
}

.logo-login {
  width: 300px !important;
}

.btn-custom:hover, .btn-custom:focus, .btn-custom:active, .btn-custom.active, .btn-custom.focus, .btn-custom:active, .btn-custom:focus, .btn-custom:hover, .open > .dropdown-toggle.btn-custom {
  background-color: #b40019 !important;
  border: solid 1px #ED2939 !important;
  border-bottom: solid 2px #ED2939 !important;
}

.dataTables_length label,
.dataTables_filter label {
  font-weight: normal;
}

.table-striped {
  margin-top: 20px !important;
}

.pagination {
  float: right;
  margin: 0;
}

.label-primary {
  background-color: #4c9fdc !important;
}

.bg-wanolo {
  background: #f9f9f9;
}

.btn-primary {
  background-color: #4c9fdc !important;
  border: 1px solid #4c9fdc !important;
}

.btn-primary:hover,
.btn-primary:focus,
.btn-primary:active,
.btn-primary.active,
.btn-primary.focus,
.btn-primary:active,
.btn-primary:focus,
.btn-primary:hover,
.open > .dropdown-toggle.btn-primary {
  background-color: #2a85bc !important;
  border: 1px solid #2a85bc !important;
}

.pagination > .active > a,
.pagination > .active > span,
.pagination > .active > a:hover,
.pagination > .active > span:hover,
.pagination > .active > a:focus,
.pagination > .active > span:focus {
  background-color: #79787f;
  border-color: #7c7782;
}

.chosen-container-single .chosen-single {
  border: none !important;
  border: solid 1px #dcdcdc !important;
  height: 40px !important;
  padding-top: 4px !important;
}

.chosen-container-single .chosen-single div b {
  background-position: 0px 7px !important;
}

.chosen-container-active.chosen-with-drop .chosen-single {
  background-image: none !important;
  box-shadow: none !important;
}

.chosen-container .chosen-container-active .chosen-single {
  border: solid 1px #aaaaaa !important;
}

.chosen-container .chosen-results li.highlighted {
  background-color: #ED2939 !important;
  background-image: none !important;
  background-image: none !important;
  background-image: none !important;
  background-image: none !important;
  background-image: none !important;
  color: #fff;
}

#table_activo td > button {
  float: right;
}

@media (max-width: 767px) {
  .dataTables_wrapper .col-sm-6 {
    display: inline-block !important;
    vertical-align: top !important;
  }
}
#BlackOutHandler .spinner .ball-1 {
  background-color: #ED2939 !important;
}
#BlackOutHandler .spinner .ball-2 {
  background-color: #ED2939 !important;
}
#BlackOutHandler .spinner .ball-3 {
  background-color: #ED2939 !important;
}
#BlackOutHandler .spinner .ball-4 {
  background-color: #ED2939 !important;
}

.btn-inverse {
  background-color: #ED2939 !important;
  border: solid 1px #ED2939 !important;
}

.btn-inverse:hover,
.btn-inverse:focus {
  background-color: #ED2939 !important;
  border: solid 1px #ED2939 !important;
}

@keyframes spin-dash-1491573811426 {
  0% {
    stroke-dasharray: 12, 400;
    stroke-dashoffset: 0;
  }
  60% {
    stroke-dasharray: 211.5, 400;
    stroke-dashoffset: -78.8;
  }
  99% {
    stroke-dasharray: 211.5, 400;
    stroke-dashoffset: -260.4;
  }
}
label {
  font-size: 12px !important;
}

.panel-primary.respuesta_contratista {
  background: #4c9fdc !important;
}

.ot-bg {
  float: left;
  width: 100%;
}
.ot-bg .cont-ot {
  border: solid 1px #dcdcdc;
  border-radius: 5px;
  min-height: 220px;
}
.ot-bg .cont-ot .cont-cont-ot {
  padding: 6px 15px 0 15px;
}
.ot-bg .cont-ot .titulo-ot {
  background: #f5f5f5;
  color: #797979;
  text-align: left;
  border-top-left-radius: 5px;
  border-top-right-radius: 5px;
  padding: 10px 15px;
}

@media only screen and (max-width: 1000px) {
  .ot-bg {
    width: 100%;
    float: none;
  }
}
.form-group.ajuste table tbody tr {
  height: 71px !important;
}
.form-group.ajuste table tbody tr td .bs-component {
  margin-top: 8px;
}

/*# sourceMappingURL=fixes.css.map */
