$color-primario: #ED2939;
$color-primariohover: #ED2939;
$color-primario2: #b40019;
$color-secundario: #37393b;
$color-secundario2: #f8f8f8;
$color-terciario: #272931;
$blanco: white;
$color-rgba: rgba(252, 2, 0, 0.7);
$gris666: #79787f;
$gris666hover: #7c7782;
$border: #dcdcdc;
$color-celeste: #4c9fdc;
$color-celestehover: #2a85bc;
$color-gris: #f9f9f9;

::selection {
  background-color: $color-primario;
  color: $blanco;
}

.text-primary {
  color: $color-primario !important;
}

.text-custom {
  color: $color-primario !important;
}

.navbar-default {
  background-color: $color-primario !important;
  height: 60px !important;
}

.side-menu {
  background-color: $color-secundario !important;
}

#sidebar-menu > ul > li > a.active {
  background-color: $color-terciario !important;
  border-left: 3px solid $color-primario;
}

#wrapper.enlarged .left.side-menu
#sidebar-menu ul > li:hover > a {
  background: $color-terciario !important;
  border-left: 3px solid $color-primario;
}

#wrapper.enlarged .left.side-menu #sidebar-menu > ul > li > a:active {
  background: $color-primario !important;
}

#wrapper.enlarged .left.side-menu #sidebar-menu ul > li:hover > ul a {
  background: white !important;
  border-left: none;
}

#wrapper.enlarged .left.side-menu #sidebar-menu > ul > li > a:focus {
  background: $color-secundario;
}

.dropdown-menu > li > a:focus,
.dropdown-menu > li > a:hover {
  background: $color-primario !important;
}

#sidebar-menu .subdrop {
  border-left: solid 3px $color-primario;
}

.topbar .topbar-left {
  background: $color-secundario2 !important;
}

.btn-custom {
  background: $color-primario !important;
  border-color: $color-primario !important;
}

.btn-bordred.btn-custom {
  border-bottom: solid 2px $color-primario2 !important;
}

#sidebar-menu .waves-effect .waves-ripple {
  background-color: $color-rgba !important;
}

#wrapper.enlarged .left.side-menu #sidebar-menu ul ul a:hover {
  color: $color-primario !important;
}

.nav-pills-custom li a,
.nav-pills-custom li.active a {
  color: $color-primario !important;
}

.logo {
  text-transform: none;
}

.logosvg {
  width: 75% !important;
}

#wrapper.forced .logosvg {
  opacity: 1;
}

#wrapper.forced.forced.enlarged .logosvg {
  opacity: 0;
}

.isosvg {
  display: none;
}

#wrapper.forced.forced.enlarged .isosvg {
  display: block;
  position: absolute;
  top: 12px;
  left: 18px;
  width: 45%;
}

.logo-login {
  width: 300px !important;
}

.btn-custom:hover, .btn-custom:focus, .btn-custom:active, .btn-custom.active, .btn-custom.focus, .btn-custom:active, .btn-custom:focus, .btn-custom:hover, .open > .dropdown-toggle.btn-custom {
  background-color: $color-primario2 !important;
  border: solid 1px $color-primario !important;
  border-bottom: solid 2px $color-primario !important;
}
.dataTables_length label,
.dataTables_filter label {
  font-weight: normal;
}
.table-striped {
  margin-top: 20px !important;
}
.pagination {
  float: right;
  margin: 0;
}
//.open>.dropdown-menu {
//  right: 0;
//  left: auto;
//}
.label-primary {
  background-color: $color-celeste !important;
}

.bg-wanolo {
  background: $color-gris;
}
.btn-primary {
  background-color: $color-celeste !important;
  border: 1px solid $color-celeste !important;
}
.btn-primary:hover,
.btn-primary:focus,
.btn-primary:active,
.btn-primary.active,
.btn-primary.focus,
.btn-primary:active,
.btn-primary:focus,
.btn-primary:hover,
.open > .dropdown-toggle.btn-primary {
  background-color: $color-celestehover !important;
  border: 1px solid $color-celestehover !important;
}
.pagination > .active > a,
.pagination > .active > span,
.pagination > .active > a:hover,
.pagination > .active > span:hover,
.pagination > .active > a:focus,
.pagination > .active > span:focus {
  background-color: $gris666;
  border-color: $gris666hover;
}
.chosen-container-single .chosen-single {
  border: none !important;
  border: solid 1px $border !important;
  height: 40px !important;
  padding-top: 4px !important;
}
.chosen-container-single .chosen-single div b {
  background-position: 0px 7px !important;
}
.chosen-container-active.chosen-with-drop .chosen-single {
  background-image: none !important;
  box-shadow: none !important;
}
.chosen-container .chosen-container-active .chosen-single {
  border: solid 1px #aaaaaa !important;
}
.chosen-container .chosen-results li.highlighted {
  background-color: $color-primario !important;
  background-image: none !important;
  background-image: none !important;
  background-image: none !important;
  background-image: none !important;
  background-image: none !important;
  color: #fff;
}
#table_activo td > button {
  float: right;
}

@media (max-width: 767px) {
  .dataTables_wrapper .col-sm-6 {
    display: inline-block !important;
    vertical-align: top !important;
  }
}

#BlackOutHandler {
  .spinner {
    .ball-1 {
      background-color: $color-primario !important;
    }
    .ball-2 {
      background-color: $color-primario !important;
    }
    .ball-3 {
      background-color: $color-primario !important;
    }
    .ball-4 {
      background-color: $color-primario !important;
    }
  }
}
.btn-inverse {
  background-color: $color-primario !important;
  border: solid 1px $color-primario !important;
}
.btn-inverse:hover,
.btn-inverse:focus {
  background-color: $color-primariohover !important;
  border: solid 1px $color-primariohover !important;
}

@keyframes spin-dash-1491573811426 {
  0% {stroke-dasharray:12,400;stroke-dashoffset:0;}
  60% {stroke-dasharray:211.5,400;stroke-dashoffset:-78.8;}
  99% {stroke-dasharray:211.5,400;stroke-dashoffset:-260.4;}}

label {
  font-size: 12px !important;
}

.panel-primary.respuesta_contratista {
  background: $color-celeste !important;
}

.ot-bg {
  float: left;
  width: 100%;
  .cont-ot {
    border: solid 1px #dcdcdc;
    border-radius: 5px;
    min-height: 220px;
    .cont-cont-ot {
      padding: 6px 15px 0 15px
    }
    .titulo-ot {
      background: #f5f5f5;
      color: #797979;
      text-align: left;
      border-top-left-radius: 5px;
      border-top-right-radius: 5px;
      padding: 10px 15px;
    }
  }
}
@media only screen and (max-width: 1000px) {
  .ot-bg {
    width: 100%;
    float: none;
  }
}

.form-group.ajuste {
  table {
    tbody{
      tr {
        height: 71px !important;
        td {
          .bs-component {
            margin-top: 8px;
          }
        }
      }
    }
  }
}