/*
To change this license header, choose License Headers in Project Properties.
To change this template file, choose Tools | Templates
and open the template in the editor.
*/
/* 
    Created on : 31-08-2014, 09:39:18 PM
    Author     : mrojas
*/


#BlackOutHandler {
    width: 100%;
    height: 100%;
    position: fixed;
    z-index: 2000;
    top: 0;
    left: 0;
    background-color: rgba(0,0,0,0.9);
    display: none;
}

#BlackOutHandler .container-fluid {
    padding-left: 0;
    padding-right: 0;
    padding-bottom: 0;
    position: relative;
    width: 100%;
    height: 100%;
    max-height: 700px;
}

#BlackOutHandler .spinner {
    top: 50%;
    left: 50%;
    z-index: 1;
    height: 30px;
    width: 30px;
    margin-left: -15px;
    margin-top: -40px;

    -moz-transform: translate(-50%, -50%);
    -ms-transform: translate(-50%, -50%);
    -webkit-transform: translate(-50%, -50%);
    transform: translate(-50%, -50%);

    position: relative;
}
#BlackOutHandler .spinner span {
    width: 30px;
    height: 30px;
    border-radius: 30px;
    display: block;
    position: absolute;
    opacity: 0.7;
}
#BlackOutHandler .spinner .ball-1 {
    z-index: 4;
    background-color: #815731;
    left: -20px;
    -webkit-transform: translate(50%, 50%) scale(0.5);
    -webkit-animation: animateSway 2s infinite ease-in-out, animateScale 2s infinite ease-in-out;
    animation: animateSway 2s infinite ease-in-out, animateScale 2s infinite ease-in-out;
}
#BlackOutHandler .spinner .ball-2 {
    z-index: 3;
    background-color: #323232;
    left: -20px;
    -webkit-transform: translate(50%, 50%) scale(0.5);
    -webkit-animation: animateSway 2s infinite ease-in-out 500ms, animateScale 2s infinite ease-in-out 500ms;
    animation: animateSway 2s infinite ease-in-out 500ms, animateScale 2s infinite ease-in-out 500ms;
}
#BlackOutHandler .spinner .ball-3 {
    z-index: 2;
    background-color: #d0701f;
    left: -20px;
    -webkit-transform: translate(50%, 50%) scale(0.5);
    -webkit-animation: animateSway 2s infinite ease-in-out 1s, animateScale 2s infinite ease-in-out 1s;
    animation: animateSway 2s infinite ease-in-out 1s, animateScale 2s infinite ease-in-out 1s;
}
#BlackOutHandler .spinner .ball-4 {
    z-index: 1;
    background-color: #d0511f;
    left: -20px;
    -webkit-transform: translate(50%, 50%) scale(0.5);
    -webkit-animation: animateSway 2s infinite ease-in-out 1.5s, animateScale 2s infinite ease-in-out 1.5s;
    animation: animateSway 2s infinite ease-in-out 1.5s, animateScale 2s infinite ease-in-out 1.5s;
}
#BlackOutHandler .textloader{
    top: 52%; 
    left: 0; z-index: 1; height: 30px; 
    width: 100%;       position: relative;
    
    text-align: center;
    color: white;
    font-size: 1.2em;
    text-transform: capitalize;
}

@-webkit-keyframes animateSway {
    0% { left: -20px }
    50% { left: 20px }
    100% { left: -20px }
}

@keyframes animateSway {
    0% { left: -20px }
    50% { left: 20px }
    100% { left: -20px }
}

@-webkit-keyframes animateScale {
    0% { -webkit-transform: translate(50%, 50%) scale(0.5); z-index: -1 }
    25% { -webkit-transform: translate(50%, 50%) scale(1); z-index: +1 }
    50% { -webkit-transform: translate(50%, 50%) scale(0.5); z-index: -1 }
    75% { -webkit-transform: translate(50%, 50%) scale(0.25); z-index: -2 }
    100% { -webkit-transform: translate(50%, 50%) scale(0.5); z-index: -1 }
}

@keyframes animateScale {
    0% { transform: translate(50%, 50%) scale(0.5); z-index: -1 }
    25% { transform: translate(50%, 50%) scale(1); z-index: +1 }
    50% { transform: translate(50%, 50%) scale(0.5); z-index: -1 }
    75% { transform: translate(50%, 50%) scale(0.25); z-index: -2 }
    100% { transform: translate(50%, 50%) scale(0.5); z-index: -1 }
}